*{
    font-family: 'lato';
}
.bg-header{
    background-image: url('../image/large.jpg');
    background-size: cover;
    height: 640px;
}
.bg-opacity{
    background-color: rgba(86,86,86,0.5);
    height: 495px;
}
header img{
    width: 200px;
    margin-top: 50px;
}
.box-nav{
    float: right;
    margin-top: -25px;
}
.box-nav a{
    text-decoration: none;
    color: white;
    margin: 15px;
    font-size: 1.7rem
}
.box-nav a:hover{
    text-decoration: none;
    color: #4E7FB8;
    margin: 15px;
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px black;
}
.box-h1 h1{
    line-height: 0.6;
    font-size: 40px;
    color: white;
    text-align: center;
}
.bg-blue{
    background-color: rgba(91,141,202,0.9);
    height: 145px;
}
.bg-blue h1{
    color: white;
    font-size: 24px;
    margin-left: 300px;
}
.boton-gratis a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    float: left;
    padding: 8px 10px;
    border: 2px solid white;
    border-radius: 5px;
}
.boton-gratis a:hover{
    text-decoration: none;
    color: black;
    font-size: 20px;
    float: left;
    padding: 8px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.services h1{
    color: #6195E3;
    margin-top: 100px;
    font-weight: 300;
}
.box-services{
    margin-top:70px;
    margin-bottom: 90px;
}
.box-i{
    padding: 16%;
    width: 157px;
    border-radius: 100%;
    box-shadow: 1px 1px 1px 1px silver;
    margin: auto;
}
.icon-video, .icon-clock, .icon-documents{
    font-size: 37px;
    color: #6195E3;
}
.box-services h3{
    color: #44617C;
    margin: 37px 
}
.bg-section{
    border-bottom: 1px solid silver;
}
.box-examples img {
    width: 320px;
}
.box-examples h1{
    color: #5590DE;
}
.bg-user{
    padding-top: 80px;
    padding-bottom: 80px;
}
.flecha{
    width: 80px;
    margin: auto;
}
.flecha img{
    width: 57px;
    margin-top:30px;
}
.sec-2 {
    background-image: url('../image/sec-2.jpg');
    background-size: cover;
    height: 500px;
    padding: 0px;
}
.sec-2 i{
    font-size: 25px;
    color: white;
    background: #50BCE9;
    padding: 15px;
    border-radius: 100%;
    float: right;
}
.bg-sec-2 {
    background-color: rgba(86,86,86,0.7);
    height: 500px;
}
.bg-sec-2 img{
    margin-top: 445px;
    width: 75px;
    margin-right: -55px;
    float: right;;
}
.style-text{
    color: #7DA7DD;
    font-size: 2rem;
    margin-top: 28px;
    font-weight: 300;
}
.box-pasos{
    border-bottom: 1px solid silver;
    padding-bottom: 38px;
    padding-left: 70px;
}
.box-testing h1{
    font-weight: 300;
    color: #5590DE;
}
.box-testing span{
    color: #5590DE;
}
.img-testing {
    width: 490px;
    margin-top: 90px;
}
.bg-prueba{
    background: #74A3DB;
    height: 149px;
}
.bg-prueba h1{
    color: white;
    font-size: 24px;
    text-align: center;
}
.bg-prueba a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    float: left;
    padding: 10px 50px;
    border: 2px solid white;
    border-radius: 5px;
}
.bg-prueba a:hover {
    text-decoration: none;
    color: black;
    font-size: 24px;
    float: left;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 5px;
}
.bg-footer{
    background-color: #2A3541;
}
.box-datos{
    float: left;
    color: white;
    padding-top: 40px;
    padding-bottom: 10px;
}
.box-redes{
    text-align: right;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}
.box-redes i{
    font-size: 30px;
    color: #4376BB;
    margin-left: 20px;
}

/* -- UTILITIES -- */
.lh {
    line-height: 0.2;
}

.mt-200{
    margin-top: 200px;
}
.w-100{
    width: 100%;
}
.mt-20{
    margin-top: 20px;
}
.ma{
    margin: auto;
}
.ma-42{
    margin:-42px auto;
}
.mt-25{
    margin-top: 25px;
}
.ml {
    text-align: right;
}
.text-center{
    text-align: center;
}
.t-white{
    color: white;
}
.fr{
    float: right;
}
.pt-45{
    padding-top: 45px;
}
.ml-302{
    margin-left: 302px;
}
.fz-20{
    font-size: 20px;
}
.w-30{
    width: 30px;
}
.w-250{
    width: 250px;
}
.pl-70{
    padding-left: 70px;
}
.pl-16{
    padding-left: 16px;
}
.d-b{
    display: block;
}
.float-r{
    float: right;
}
.mr-55{
    margin-right: -55px;
}
.mr-35{
    margin-right: -35px;
}
.mt-80{
    margin-top: 80px;
}
.mt-210{
    margin-top: 210px;
}
.mt-336{
    margin-top: 336px;
}
.mt-70{
    margin-top: 70px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-100{
    margin-bottom: 100px;
}
.pl-84{
    padding-left: 84px;
}
.pl-50{
    padding-left: 50px;
}
.pl-150{
    padding-left: 150px;
}